In [1]:
import hashlib
import pandas as pd
spreadsheet = pd.read_excel('/Users/charlie/Desktop/NYU2024 fall/6931/HW/Python SHA256 algorithm/spreadsheet.xlsx')

In [2]:
spreadsheet.head()

   Unnamed: 0            Name                     Email        password
0           1  Richard Radnay    richard.radnay@nyu.edu  !Sat0sh1G3niu3
1           2  Aria Blackwood  aria.blackwood@gmail.com        X7R9p2Lm
2           3     Jasper Chen   jasper.chen@outlook.com        B3T8kF5w
3           4      Zoe Ndiaye        zoe.ndiaye@nyu.edu        N6Q4jH9y
4           5  Felix Kowalski   Felixkowalski@gmail.com        C2Z5vG7s

In [3]:
def generate_hash(password):
    return hashlib.sha256(password.encode()).hexdigest()

# Apply the hash function to the 'password' column and create a new 'HASH' column
spreadsheet['HASH'] = spreadsheet['password'].apply(generate_hash)

In [4]:
spreadsheet

,Unnamed: 0,Name,Email,password,HASH
0,1,Richard Radnay,richard.radnay@nyu.edu,!Sat0sh1G3niu3,cc6e4f5eb6e88b0f3c0fd442c9a17beb71e5134e1a7c33...
1,2,Aria Blackwood,aria.blackwood@gmail.com,X7R9p2Lm,d31135bc02ffa2818dea2acacc7ccab42ddd3f854367e2...
2,3,Jasper Chen,jasper.chen@outlook.com,B3T8kF5w,a48d0b1257de6b2c29fc1c5a40a87f2ee8fce3beb5c5bd...
3,4,Zoe Ndiaye,zoe.ndiaye@nyu.edu,N6Q4jH9y,21a5a292082e564fa0063fa278b4a125ffe525b9d1501c...
4,5,Felix Kowalski,Felixkowalski@gmail.com,C2Z5vG7s,54921ab52aa3a23ead7bc24c82b08e0d26cdb1e8490d34...